﻿@{
    ViewBag.Title = "Home Page";
}
<style>
    .header{
      
       padding-bottom:20px;
       margin:initial;
    }
    .row{
        margin:auto;
      
        
    }
</style>

<div class="header">
    
    <img src="http://www.university-directory.eu/instlogos/BD-International-Islamic-University-ChittagongIIUC.jpg" alt="W3Schools.com" width="1140">
</div>

<div class="row">
    <img src="http://www.iiuc.ac.bd/wp-content/uploads/2012/09/banner0221.png" alt="W3Schools.com" width="1140" >
</div>