﻿@model UniversityMvcApp.Models.EnrollCourses
@{
    ViewBag.Title = "Add";
    string existMessage = @ViewBag.EnrollExist;
    string saveMessage = @ViewBag.saveMessage;
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet"/>

<h2>Enroll Course</h2>
@if (saveMessage != null)
{
    <label class="label-success">@saveMessage</label>
}

@if (existMessage != null)
{
    <label class="label-warning">@existMessage</label>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.Label("studentId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="studentId" id="studentId">
                    <option>--Select--</option>
                    @foreach (var students in ViewBag.StudentId)
                    {
                        <option value="@students.Id">@students.RegistrationSerial</option>
                    }


                </select>
                @Html.ValidationMessageFor(model => model.CourseId)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Student Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="studentName" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Department Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="departmentName" />

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CourseId, "CourseId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                <select name="CourseId" id="CourseId"></select>

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.date, new { @id = "Date" })
                @Html.ValidationMessageFor(model => model.date)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enroll" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script>
    $(function () {
        $("#Date").datepicker();
    });

    $(document).ready(function () {
        //var table = $("#myTable").DataTable();
        $("#studentId").change(function () {
            var stId = $("#studentId").val();
            //$("#myTable").show();
            //table.clear().draw(false);
            //$("#tableBody").empty();
                                                                                                                      
            $("#CourseId").empty();
            $("#CourseId").append('<option value="">Select</option>');
            var json = { studentId: stId };
            //alert(deptId);
            $.ajax({
                type: "POST",
                url: '/EnrollCourses/GetCourseByStudentId',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {

                    $.each(data, function (key, value) {

                        //alert(key);
                        $("#CourseId").append('<option value="' + value.Id + '">' + value.Code + '</option>');

                        //$("#tableBody").append('<tr><td>' + value.StudentId + '</td><td>' + value.Name + '</td><td>' + value.DepartmentId + '</td></tr>');
                        //table.row.add([
                        //    value.StudentId, value.Name, value.DepartmentId
                        //]).draw(false);
                    });
                }
            });
        });
    });

    $(document).ready(function () {

        $("#studentId").change(function () {
            var stId = $("#studentId").val();


            var json = { studentId: stId };

            $.ajax({
                type: "POST",
                url: '/EnrollCourses/GetStudentByStudentId',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {


                    $("#studentName").val(data);
                                                                                                                                                                                                                
                }
            });
        });
   
                                                                                                                           
        $(document).ready(function () {

            $("#studentId").change(function () {
                var stId = $("#studentId").val();


                var json = { studentId: stId };

                $.ajax({
                    type: "POST",
                    url: '/EnrollCourses/GetDepartmentNameByStudentId',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {


                        $("#departmentName").val(data);
                                                                                                                                                                                                              
                    }
                });
            });
        });
    });
    </script>

    }
         



