﻿@model UniversityMvcApp.Models.Department

@{
    ViewBag.Title = "ViewCourseDetails";
}

<link href="~/Content/DataTables-1.9.4/media/css/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2>ViewCourseDetails</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("DepartmentId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="DepartmentId" id="DepartmentId" >
                    <option value="">--Select--</option>
                    @foreach (var department in ViewBag.departments)
                    {
                        <option value="@department.ID">@department.Code</option>
                    }
                </select>

            </div>
        </div>
        <div class="form-group">
            <table id="myTable" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Name</th>
                        <th>Schedule Info</th>
                    </tr>
                </thead>
                <tbody id="tableBody"></tbody>
            </table>
        </div>
    </div>
}

@section scripts
    {

    @*<script src="~/Scripts/DataTables-1.9.4/docs/media/js/jquery.js"></script>*@
<script src="~/Scripts/DataTables-1.9.4/media/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            var table = $("#myTable").DataTable();
            $("#DepartmentId").change(function () {
                var deptId = $("#DepartmentId").val();
                
                $("#myTable").show();
                $("#tableBody").empty();
                var json = { departmentId: deptId };
                $.ajax({
                    type: "POST",

                    url: '/ViewClassScheduleWithRoomAllocation/GetCourseTableByDepartment',

                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        alert(deptId);
                        
                        $.each(data, function (key, value) {
                            alert(data);
                            $("#tableBody").append('<tr><td>' + value.CourseCode + '</td><td>' + value.CourseName + '</td><td>' + value.ScheduleInfo + '</td></tr>');
                        });
                    }
                });
            });
        });
    </script>

}