﻿
@{
    ViewBag.Title = "UnassignAllCourses";
    string message = ViewBag.Successmessge;
}
<style>
    #submit{
     height:50px;
     width:400px;
    color:Background;
        margin:100px 100px 100px 200px;
    }
</style>
@if (message != null)
{
    <label class="success">@message</label>
}

<form method="POST" id="myForm">
 

        <table>
            
            <tr>
                <td></td>
                <td><input type="submit" id="submit" value="Unassign All Courses" height="20" width="30" class="btn btn-default" /></td>
            </tr>
        </table>
  
</form>
 
@*
     
*@
@section scripts{
    <script>
                       $(document).ready(function
                                          () {
                           $("#submit").click(function(){
                    var r = confirm("Are you sure to unassign all courses?");
                                      if (r === false) {
                                          return false;
                                                      }

                                  });
                                                         });</script>
}